main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

form ul {
  margin: 0;
  padding: 0;
}

form li {
  list-style: none;
  margin: 0 0 0.8em 0;
}

form label {
  margin: 0 0 0.2em 0;
  display: inline-block;
}

form label[for="ui-theme-selector"] {
  margin-right: .2em;
  transform: translateY(-0.5em);
}

form li input {
  width: 100%;
  padding: 0.1em;
}

#saving-button {
  margin: 0 auto 0 auto;
  padding: 0.3em;
  width: 100%;
}

#ui-theme, #api-key-for-ds {
  display: none;
}
